@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);









#header1-2 P {
  text-align: left;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #b8312f;
}
#header1-4 P {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #b8312f;
}
#header1-8 P {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  text-align: left;
  color: #d14841;
}
#header1-7 P {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #b8312f;
}
#header1-12 P {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #b8312f;
}
#header1-14 P {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #b8312f;
}
#header1-23 P {
  color: #b8312f;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}
#header1-24 P {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #b8312f;
}
#header1-26 P {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  color: #b8312f;
}
